html{
  background-color: black;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  color:white;
  font-size: 40px;
  font-family: 'Homemade Apple', cursive;
}

h2{
  color: white;
  font-size: 20px;
}

.form{
  border: solid white;
  border-radius:15px ;
  background-color: skyblue;
  display: grid;
  align-items: baseline;
  width: 500px;
  height: 300px;
  text-align: center;
}
input{

}

